<h2>Get transactions</h2>

<p>
    <table>
    <tr><td>Enter account number:</td><td><input type="text" id="account" value="ABC"></td></tr>
    <tr><td>Enter date:</td><td><input type="date" id="date"></td></tr>
    </table>
    <input type="button" value="Show" onclick="getTransactions($('#account').val(), $('#date').val())">
</table>
</p>

<div id="status"></div>

<table border="1" id="tx_table" style="display:none">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Source account</th>
            <th>Destination account</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody id="tx_body"></tbody>
</table>