<h2>Modify an existing account</h2>

<p>
    Enter account number: <input type="text" id="account" value="ABC">
    <input type="button" value="Show" onclick="updateAccount($('#account').val())">
</p>

<div id="error" style="display:none"></div>

<p>
<div id="status"></div>
<div id="account_info" style="display:none">
<div id="account_form">
    <form>
        <table>
            <tr>
                <td>Account number</td>
                <td><input type="text" name="accountNr" id="accountNr" disabled></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" id="address"></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" name="city" id="city"></td>
            </tr>
            <tr>
                <td>Balance</td>
                <td><input type="text" name="balance" id="balance"></td>
            </tr>
            <tr>
                <td>Limit</td>
                <td><input type="text" name="limit" id="limit"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
        </table>

        <input type="hidden" name="accountNumber" id="accountNumber">
    </form>

    <input type="button" onclick="updateAccount(null)" value="Update">
</div>
</div>
</p>